<!DOCTYPE html>
<html>
  <head>
    <title>HouseSalad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" title="reset" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar">
    
      <%= link_to "HouseSalad", root_path %>
      <%= form_tag :search, method: :get do %>
        <div class="select">
          <%= select_tag :state, options_for_select(us_states) %>
          <%= submit_tag "Locate Members from the House" %>
        </div>
      <% end %>
    </nav>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
